S3method("$",sqliter)
S3method(execute,sqliter)
S3method(find_database,sqliter)
S3method(list_databases,sqliter)
export(execute)
export(find_database)
export(list_databases)
export(sqliter)
import(DBI)
import(RSQLite)
import(functional)
import(stringr)
